*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(150deg, #00ffaa, #001624);
}
.container { 
    margin: 20px auto; 
    width: 500px; 
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 20px; 
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.479); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

h1 { 
    font-size: 40px;
    text-align: center; 
    margin-bottom: 20px; 
    text-transform: uppercase;
} 

input[type="number"] { 
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    font-size: 20px;
    outline: none;
    border-radius: 10px;
    border: none;
    background-color: #e7e6e6; 
} 

select { 
    width: 100%; 
    padding: 15px; 
    margin-bottom: 10px; 
    box-sizing: border-box; 
    background: #00ffaa41;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
} 

select:hover{
    background: #4fffc4;
}
p { 
    text-align: center; 
    margin-top: 20px; 
    font-weight: bold; 
    font-size: 20px; 
} 
